
@{
    ViewBag.Title = "Ekle";
}


<div class="row">
    <div class="col-lg-12">
        <!--begin::Card-->
        <div class="card card-custom example example-compact">
            <div class="card-header">
                <h3 class="card-title">3 Columns Horizontal Form Layout</h3>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">
                        @*<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                        <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>*@
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="form">
                <div class="card-body">
                    <div class="form-group row mt-3">
                        <label class="col-lg-3 col-form-label text-right">Fatura Açıklaması:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="FaturaAciklamasi" placeholder="Fatura Açıklaması" />
                            <span class="form-text text-muted">Fatura Açıklaması Giriniz</span>
                        </div>
                        @*<label class="col-lg-1 col-form-label text-right">Email:</label>
                        <div class="col-lg-3">
                            <input type="email" class="form-control" placeholder="Email" />
                            <span class="form-text text-muted">Please enter your email</span>
                        </div>
                        <label class="col-lg-1 col-form-label text-right">Username:</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="" />
                            </div>
                            <span class="form-text text-muted">Please enter your username</span>
                        </div>*@
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="form-group row">
                        <label class="col-lg-1 col-form-label text-right">Contact:</label>
                        <div class="col-lg-3">
                            <input type="email" class="form-control" placeholder="Enter contact number" />
                            <span class="form-text text-muted">Please enter your contact</span>
                        </div>
                        <label class="col-lg-1 col-form-label text-right">Fax:</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fax number" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-info-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="form-text text-muted">Please enter fax</span>
                        </div>
                        <label class="col-lg-1 col-form-label text-right">Address:</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your address" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-map-marker"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="form-text text-muted">Please enter your address</span>
                        </div>
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="form-group row">
                        <label class="col-lg-1 col-form-label text-right">Postcode:</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your postcode" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-bookmark-o"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="form-text text-muted">Please enter your postcode</span>
                        </div>
                        <label class="col-lg-1 col-form-label text-right">User Group:</label>
                        <div class="col-lg-3">
                            <div class="radio-inline">
                                <label class="radio radio-solid">
                                    <input type="radio" name="example_2" checked="checked" value="2" />Sales Person
                                    <span></span>
                                </label>
                                <label class="radio radio-solid">
                                    <input type="radio" name="example_2" value="2" />Customer
                                    <span></span>
                                </label>
                            </div>
                            <span class="form-text text-muted">Please select user group</span>
                        </div>
                    </div>
                    <!-- begin: Example Code-->
                    <div class="example-code mt-10">
                        <ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#example_code_html_4">HTML</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="example_code_html_4" role="tabpanel">
                                <div class="example-highlight">
                                    <pre style="height:400px">
<code class="language-html">
        &lt;form class="form"&gt;
         &lt;div class="card-body"&gt;
          &lt;div class="form-group row mt-3"&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Full Name:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;input type="email" class="form-control" placeholder="Full name"/&gt;
            &lt;span class="form-text text-muted"&gt;Please enter your full name&lt;/span&gt;
           &lt;/div&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Email:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;input type="email" class="form-control" placeholder="Email"/&gt;
            &lt;span class="form-text text-muted"&gt;Please enter your email&lt;/span&gt;
           &lt;/div&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Username:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;div class="input-group"&gt;
             &lt;div class="input-group-prepend"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-user"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
             &lt;input type="text" class="form-control" placeholder=""/&gt;
            &lt;/div&gt;
            &lt;span class="form-text text-muted"&gt;Please enter your username&lt;/span&gt;
           &lt;/div&gt;
          &lt;/div&gt;

          &lt;div class="separator separator-dashed my-10"&gt;&lt;/div&gt;

          &lt;div class="form-group row"&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Contact:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;input type="email" class="form-control" placeholder="Enter contact number"/&gt;
            &lt;span class="form-text text-muted"&gt;Please enter your contact&lt;/span&gt;
           &lt;/div&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Fax:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;div class="input-group"&gt;
             &lt;input type="text" class="form-control" placeholder="Fax number"/&gt;
             &lt;div class="input-group-append"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-info-circle"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;span class="form-text text-muted"&gt;Please enter fax&lt;/span&gt;
           &lt;/div&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Address:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;div class="input-group"&gt;
             &lt;input type="text" class="form-control" placeholder="Enter your address"/&gt;
             &lt;div class="input-group-append"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-map-marker"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;span class="form-text text-muted"&gt;Please enter your address&lt;/span&gt;
           &lt;/div&gt;
          &lt;/div&gt;

          &lt;div class="separator separator-dashed my-10"&gt;&lt;/div&gt;

          &lt;div class="form-group row"&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;Postcode:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;div class="input-group"&gt;
             &lt;input type="text" class="form-control" placeholder="Enter your postcode"/&gt;
             &lt;div class="input-group-append"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-bookmark-o"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;span class="form-text text-muted"&gt;Please enter your postcode&lt;/span&gt;
           &lt;/div&gt;
           &lt;label class="col-lg-1 col-form-label text-right"&gt;User Group:&lt;/label&gt;
           &lt;div class="col-lg-3"&gt;
            &lt;div class="radio-inline"&gt;
             &lt;label class="radio radio-solid"&gt;
              &lt;input type="radio" name="example_2" checked="checked" value="2"/&gt; Sales Person
              &lt;span&gt;&lt;/span&gt;
             &lt;/label&gt;
             &lt;label class="radio radio-solid"&gt;
              &lt;input type="radio" name="example_2" value="2"/&gt; Customer
              &lt;span&gt;&lt;/span&gt;
             &lt;/label&gt;
            &lt;/div&gt;
            &lt;span class="form-text text-muted"&gt;Please select user group&lt;/span&gt;
           &lt;/div&gt;
          &lt;/div&gt;
         &lt;/div&gt;
         &lt;div class="card-footer"&gt;
          &lt;div class="row"&gt;
           &lt;div class="col-lg-5"&gt;&lt;/div&gt;
           &lt;div class="col-lg-7"&gt;
            &lt;button type="reset" class="btn btn-primary mr-2"&gt;Submit&lt;/button&gt;
            &lt;button type="reset" class="btn btn-secondary"&gt;Cancel&lt;/button&gt;
           &lt;/div&gt;
          &lt;/div&gt;
         &lt;/div&gt;
        &lt;/form&gt;
        </code>
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Example Code-->
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-7">
                            <button type="reset" class="btn btn-primary mr-2">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
</div>
