
@{
    ViewBag.Title = "Ekle";
}


<div class="row">
    <div class="col-lg-12">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">Fatura Ekleme Sayfası</h3>
                <div class="card-toolbar">
                </div>
            </div>
            <!--begin::Form-->
            <form class="form">
                <div class="card-body">
                    <div class="form-group row mt-3">
                        <label class="col-lg-3 col-sm-12 col-form-label text-right">Fatura Açıklaması:</label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <textarea class="form-control" id="exampleTextarea" name="FaturaAciklamasi" rows="3"></textarea>
                            <span class="form-text text-muted">Fatura Açıklaması Giriniz</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-3 col-sm-12">Müşteri</label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <select class="form-control select2" id="kt_select2_6" name="Musteri">
                                <option label="Label"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-3 col-sm-12">Düzenleme Tarihi</label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <div class="input-group date">
                                <input type="text" class="form-control" readonly="readonly" value="05/20/2017" id="kt_datepicker_3" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="form-text text-muted">Düzenleme Tarihi Giriniz</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-3 col-sm-12">Tahsilat Tarihi</label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <div class="input-group date">
                                <input type="text" class="form-control" readonly="readonly" value="05/20/2017" id="kt_datepicker_3" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="form-text text-muted">Tahsilat Tarihi Giriniz</span>
                        </div>
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div id="kt_repeater_1">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-right">Fatura Kalemleri:</label>
                            <div data-repeater-list="" class="col-lg-10">
                                <div data-repeater-item="" class="form-group row align-items-center">
                                    <div class="col-md-4">
                                        <label>Hizmet/Ürün:</label>
                                        <select class="form-control select2 kt_select2_urun_hizmet" id="" name="HizmetUrun">
                                            <option label="Label"></option>
                                        </select>
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Miktar:</label>
                                        <input type="text" class="form-control" placeholder="Miktar" />
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Birim Fiyat:</label>
                                        <input type="text" class="form-control" placeholder="Birim Fiyat" />
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Vergi:</label>
                                        <input type="text" class="form-control" placeholder="Vergi" />
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Toplam:</label>
                                        <input type="text" class="form-control" value="" placeholder="" />
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-1">
                                        <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger">
                                            <i class="la la-trash-o"></i>Sil
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-right"></label>
                            <div class="col-lg-4">
                                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                    <i class="la la-plus"></i>Ekle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-7">
                            <button type="reset" class="btn btn-primary mr-2">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
</div>

@section scripts {


    <script>

        $('#kt_repeater_1').repeater({
            initEmpty: false,    
            show: function () {                
                $(this).slideDown();
                $('#kt_repeater_1 .select2-container').remove();
                $('#kt_repeater_1 .kt_select2_urun_hizmet').select2({
                    placeholder: "Ürün yada hizmet seçiniz",
                    allowClear: true,
                    ajax: {
                        url: "https://api.github.com/search/repositories",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function (data, params) {
                            // parse the results into the format expected by Select2
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data, except to indicate that infinite
                            // scrolling can be used
                            params.page = params.page || 1;

                            return {
                                results: data.items.map(function (item) { return { id: (item.full_name || item.text), text: (item.full_name || item.text) }; }),
                                pagination: {
                                    more: (params.page * 30) < data.total_count
                                }
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }, // let our custom formatter work
                    minimumInputLength: 1,
                    //templateResult: formatRepo, // omitted for brevity, see the source of this page
                    //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
                });
                $('.select2-container').css('width', '100%');
            },
            hide: function (deleteElement) {
                $(this).slideUp(deleteElement);
            }
        }); 


        $('#kt_repeater_1 .kt_select2_urun_hizmet').select2({
            placeholder: "Ürün yada hizmet seçiniz",
            allowClear: true,
            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    debugger;
                    params.page = params.page || 1;

                    let temp = data.items.map(function (item) { return { id: (item.full_name || item.text), text: (item.full_name || item.text) }; });
                    console.log(temp);
                    return {
                        results: temp,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });


        function formatRepoSelection(repo) {
            return repo.full_name || repo.text;
        }


        function formatRepo(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";
            if (repo.description) {
                markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
            }
            markup += "<div class='select2-result-repository__statistics'>" +
                "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                "</div>" +
                "</div></div>";
            return markup;
        }

        $("#kt_select2_6").select2({
            placeholder: "Müşteri yada tedarikçi seçiniz",
            allowClear: true,
            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        } else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        // enable clear button
        $('#kt_datepicker_3, #kt_datepicker_3_validate').datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            todayHighlight: true,
            orientation: "bottom left",
            templates: arrows
        });

    </script>

}
